body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
.card-body > .card-title {
  font-family: 'Lobster', cursive;
}

.navbar-brand {
  max-width: 4rem;
  margin-right: 2rem;
}

.navbar-brand img {
  height: 100%;
  margin-right: 2rem;
  
}

.navbar-light {
  background-color: #A6BB8D;
  margin-bottom: 2rem;
  min-height: 8rem;
  
}
.navbar-lihgt a.link {
  color: #A6BB8D;
}

#bfcg-title {
  color: #3C6255;
}

.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: 300ms ease-in;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}





